
body {
    max-width:100% ;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: rgba(0, 0, 0, 0.767);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    padding: 10px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
}
header {
    position:absolute;
    top: 7px;
    width: 100%;
    margin: 0px;
    line-height: 8px; 
}
.about {
    position: relative;
    left:5px;
}
.store {
    position: relative;
    left:5px;
}
.sign-in {
    position:relative;
    left:980px;
    background-color:rgb(0, 162, 255) ;
}
.img {
    position: relative;
    left: 980px;
    
}
.gmail {
    position: relative;
    left: 980px;

}
.image {
    max-width: 275px;
max-height: 95px;
    margin: auto;
    position: relative;
    top: 120px;
}

 .dropup {
    padding: 10px 10px;
text-align: center;
border:none;
}
.settings {
    display: inline-block;
    position: relative;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    bottom: 50px;
    z-index:1;
}
.drop-content a {
    display: block;
    
    padding: 12px 16px;
    text-decoration: none;

}
.drop-content a:hover {
    background-color: blanchedalmond;
}
.settings:hover .drop-content {
    display:block;
}
nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0px; 
    height: 35px;
    font-size:10pt;
    background-color: #eaf3f5f8;
}
.settings {
    position:relative;
    left:800px;
}
.terms {
    position: relative;
    left: 800px;
}
.privacy {
    position: relative;
    left: 800px;
}
form {
    max-width:550px;
    margin: auto;
    height: 40px;
    position: relative;
    top: 150px;
}
.input-icon i { 
    position: absolute; 
} 
  
.input-icon { 
    width: 100%; 
    margin-bottom: 10px; 
} 
  
.icon { 
    padding: 10px; 
    min-width: 40px;
    margin: auto;
} 
.input-field { 
    width: 100%; 
    padding: 10px; 
    text-align: center; 
} 
.bttn-area {
    margin: auto;
    max-width:300px;
    height: fit-content;
    position: relative;
    top: 190px;
   
}
.search-bttn1, .search-bttn2 {
    background-color:#eaf3f5f8 ;
    padding:10px;
    border-radius: 10px;



}
.search-bttn2 {
position:relative;
left:10px;
}